.grid {
    width: 100%;
    display: block;
}

.grid.wide {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    margin: -4px;
}


/*No gutter*/

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter .col {
    padding-left: 0;
    padding-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
    padding: 4px;
}


/*size column*/

.col-s-0 {
    display: none;
}

.col-s-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-s-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-s-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col-s-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-s-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-s-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-s-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-s-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-s-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-s-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-s-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-s-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-s-12 {
    flex: 0 0 100%;
    max-width: 100%;
}


/*offset*/

.col-s-o-1 {
    margin-left: 8.33333%;
}

.col-s-o-2 {
    margin-left: 16.66667%;
}

.col-s-o-2-4 {
    margin-left: 20%;
}

.col-s-o-3 {
    margin-left: 25%;
}

.col-s-o-4 {
    margin-left: 33.33333%;
}

.col-s-o-5 {
    margin-left: 41.66667%;
}

.col-s-o-6 {
    margin-left: 50%;
}

.col-s-o-7 {
    margin-left: 58.33333%;
}

.col-s-o-8 {
    margin-left: 66.66667%;
}

.col-s-o-9 {
    margin-left: 75%;
}

.col-s-o-10 {
    margin-left: 83.33333%;
}

.col-s-o-11 {
    margin-left: 91.66667%;
}

.col-s-o-12 {
    margin-left: 100%;
}


/*TABLET*/

@media (min-width:740px) and (max-width:1023px) {
    .wide {
        width: 644px;
    }
    .row {
        margin-left: -8px;
        margin-right: -8px;
        margin: -8px;
    }
    .col {
        padding-left: 8px;
        padding-right: 8px;
        padding: 8px;
    }
    .row.no-gutter {
        margin-left: 0;
        margin-right: 0;
    }
    .row.no-gutter .col {
        padding-left: 0;
        padding-right: 0;
    }
    .col-m-1,
    .col-m-2,
    .col-m-2-4,
    .col-m-3,
    .col-m-4,
    .col-m-5,
    .col-m-6,
    .col-m-7,
    .col-m-8,
    .col-m-9,
    .col-m-10,
    .col-m-11,
    .col-m-12 {
        display: block;
    }
    /*size column*/
    .col-m-0 {
        display: none;
    }
    .col-m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-m-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    /*offset*/
    .col-m-o-1 {
        margin-left: 8.33333%;
    }
    .col-m-o-2 {
        margin-left: 16.66667%;
    }
    .col-m-o-2-4 {
        margin-left: 20%;
    }
    .col-m-o-3 {
        margin-left: 25%;
    }
    .col-m-o-4 {
        margin-left: 33.33333%;
    }
    .col-m-o-5 {
        margin-left: 41.66667%;
    }
    .col-m-o-6 {
        margin-left: 50%;
    }
    .col-m-o-7 {
        margin-left: 58.33333%;
    }
    .col-m-o-8 {
        margin-left: 66.66667%;
    }
    .col-m-o-9 {
        margin-left: 75%;
    }
    .col-m-o-10 {
        margin-left: 83.33333%;
    }
    .col-m-o-11 {
        margin-left: 91.66667%;
    }
    .col-m-o-12 {
        margin-left: 100%;
    }
}


/*PC*/

@media (min-width: 1113px) {
    .wide {
        width: 984px;
    }
    .row {
        margin-left: -12px;
        margin-right: -12px;
        margin: -12px;
    }
    .col {
        padding-left: 12px;
        padding-right: 12px;
        padding: 12px;
    }
    .row.no-gutter {
        margin-left: 0;
        margin-right: 0;
    }
    .row.no-gutter .col {
        padding-left: 0;
        padding-right: 0;
    }
    .col-l-1,
    .col-l-2,
    .col-l-2-4,
    .col-l-3,
    .col-l-4,
    .col-l-5,
    .col-l-6,
    .col-l-7,
    .col-l-8,
    .col-l-9,
    .col-l-10,
    .col-l-11,
    .col-l-12 {
        display: block;
    }
    /*size column*/
    .col-l-0 {
        display: none;
    }
    .col-l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    /*offset*/
    .col-l-o-1 {
        margin-left: 8.33333%;
    }
    .col-l-o-2 {
        margin-left: 16.66667%;
    }
    .col-l-o-2-4 {
        margin-left: 20%;
    }
    .col-l-o-3 {
        margin-left: 25%;
    }
    .col-l-o-4 {
        margin-left: 33.33333%;
    }
    .col-l-o-5 {
        margin-left: 41.66667%;
    }
    .col-l-o-6 {
        margin-left: 50%;
    }
    .col-l-o-7 {
        margin-left: 58.33333%;
    }
    .col-l-o-8 {
        margin-left: 66.66667%;
    }
    .col-l-o-9 {
        margin-left: 75%;
    }
    .col-l-o-10 {
        margin-left: 83.33333%;
    }
    .col-l-o-11 {
        margin-left: 91.66667%;
    }
    .col-l-o-12 {
        margin-left: 100%;
    }
}

@media (min-width:1024px) {
    .wide {
        width: 984px;
    }
    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
        margin: -12px;
    }
    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
        padding: 12px;
    }
    .wide .row.no-gutter {
        margin-left: 0;
        margin-right: 0;
        margin: 0;
    }
    .wide .row.no-gutter .col {
        padding-left: 0;
        padding-right: 0;
        padding: 0;
    }
    .col-l-1,
    .col-l-2,
    .col-l-2-4,
    .col-l-3,
    .col-l-4,
    .col-l-5,
    .col-l-6,
    .col-l-7,
    .col-l-8,
    .col-l-9,
    .col-l-10,
    .col-l-11,
    .col-l-12 {
        display: block;
    }
    /*size column*/
    .col-l-0 {
        display: none;
    }
    .col-l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    /*offset*/
    .col-l-o-1 {
        margin-left: 8.33333%;
    }
    .col-l-o-2 {
        margin-left: 16.66667%;
    }
    .col-l-o-2-4 {
        margin-left: 20%;
    }
    .col-l-o-3 {
        margin-left: 25%;
    }
    .col-l-o-4 {
        margin-left: 33.33333%;
    }
    .col-l-o-5 {
        margin-left: 41.66667%;
    }
    .col-l-o-6 {
        margin-left: 50%;
    }
    .col-l-o-7 {
        margin-left: 58.33333%;
    }
    .col-l-o-8 {
        margin-left: 66.66667%;
    }
    .col-l-o-9 {
        margin-left: 75%;
    }
    .col-l-o-10 {
        margin-left: 83.33333%;
    }
    .col-l-o-11 {
        margin-left: 91.66667%;
    }
    .col-l-o-12 {
        margin-left: 100%;
    }
}